<!DOCTYPE html>
<html lang=en>
<head>
  <title>IWOL Alchemy</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="/static/styles.css">
<body>
  <table>
    <thead>
      <tr>
        <th>grade
        <th>type
        <th>name
        <th>effect
        <th>price
    <tbody>
    {% for elixir in elixirs %}
      <tr>
        <td class="T{{elixir.grade}}">{{elixir.grade}}
        <td>{{elixir.type}}
        <td><a href="{{elixir.recipes}}">{{elixir.name}}</a>
        <td>{{elixir.effect}}
        <td>{{elixir.price}}
    {% endfor %}
  </table>
