<!DOCTYPE html>
<html lang=en>
<title>IWOL Alchemy</title>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<link rel="stylesheet" href="/static/styles.css">
<style>
table {
  text-transform: capitalize;
}
td img {
  display: block;
  width: 100%;
}
td.image {
  padding: 0;
}
</style>
<body>
  <a href="/">⇐ Back</a>

  <h4>{{name}}</h4>
  <blockquote>{{elixir.effect}}</blockquote>

  <table>
    <thead>
      <tr>
        <th>grade
        <th>type
        <th>name
        <th>resistance
    <tbody>
      <tr>
        <td class="T{{elixir.grade}}">{{elixir.grade}}
        <td>{{elixir.type}}
        <td>{{elixir.name}}
        <td>{{elixir.resistance}}
  </table>

  <hr>

  <nav>
  {% for i in range(9,15) %}
    {% if capacity == i: %}
      <a href="" class="current">Furnace T{{i - 8}}</a>
    {% else: %}
      <a href="?capacity={{i}}">Furnace T{{i - 8}}</a>
    {% endif %}
  {% endfor %}
  </nav>

  {% for r in recipes %}
  <table>
    <thead>
      <tr>
        <th>Slot
        <th>Grade
        <th>Image
        <th>Name
        <th>Quantity
        <th>Property
        <th>Temperature
    <tbody>
      {% for slot in ['primary', 'primary2', 'secondary', 'secondary2', 'temperature'] %}
        {% if slot in r: %}
          <tr>
            <td>{{slot}}
            <td class="sunken {{r[slot]['grade']}}">{{r[slot]['grade']}}
            <td class="image">
              <img
                src="/static/images/{{r[slot]['name']}}.png" alt="{{r[slot]['name']}}"
                width="64" height="64"
              >
            <td>{{r[slot]['name']}}
            <td>{{r[slot]['quantity']}}
            <td>{{r[slot]['property']}}
            <td>{{r[slot]['temperature']}}
        {% endif %}
      {% endfor %}
      <tr>
        <th>Cost
        <td>{{r['cost']}}
  </table>
  {% endfor %}
